@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Merienda:wght@300..900&family=Underdog&display=swap');

/* globals.css */
:root {
  --font-family: "Merienda", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: var(--font-family);
  background-color: #0e0e12;
  color: white;
}
